.main{
	width: 100%;
}
p.center{
	text-align: center;
}
p.justify{
	text-align: justify;
}
a.rollover {
    background: url(16.2.jpg);
    display: block;
    width: 600px;
	height: 510px;
	transition: all ease 200ms;
}
a{
	text-decoration: none;
}
a.rollover:hover {
    background: url(21.2.jpg);
}

.window {
	border: 0px;
	background-color: black;
	width: 99%;
	margin-top: 63px;
	box-shadow: 4px 1px 30px black;
	position: absolute;
	top: 110%;
}
.windo {
	border: 0px;
	background-color: black;
	width: 100%;
	box-shadow: 4px 1px 30px black;
	position: relative;
	top: -10px;
	border-radius: 5px;
}
.div1 {
	background-color: black;
	color: white;
	font-family: Сomic Sans MS, Monotype Corsiva, serif;
}
.div2 {
	background-color: black;
	color: white;
	font-family: Impact, Palatino Linotype, Verdana;
	font-size: 22px;
	text-align: center;
}	
.ab1 {
	margin-left: 10px;
}
.im2 {
	padding: 7px;
	width: 25; 
	height: 20;
	border-radius: 100px; 
    box-shadow: 0 0 4px #666;
	transition: all ease 500ms;
}
	
.im2:hover {
	width: 26; 
	height: 21;
	padding: 6px;
	box-shadow: 0 0 3px #666;
}	
.mainl{
	position: absolute;
	width: 50%;
	padding: 0px;
	margin-top: -16px;
}
.mainr{
	position: absolute;
	margin-left: 50%;
	width: 49%;
	height: 510px;
	background: linear-gradient(to left, #00bfff, white);
	color: #333;
	text-align: center;
	border-radius: 10px;
}
.round {
    border-radius: 100px; 
    box-shadow: 0 0 4px #666; 
}
h2 {
    font-family: 'Times New Roman', Times, serif;
	font-style: italic;
} 
h3{
	display: inline-block;
	padding: 15px;
	margin-left: 15px;
	background: #4d4dff;
	color: white;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 0px 6px Gray;
}
.men{
	font-size: 22px;
	font-family: Impact, Palatino Linotype, Verdana;
	text-align: center;
	background: Aqua;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 1px Aqua;
	width: 150px;
	height: 30px;
	margin-left: 45%;
	line-height: 30px;
	margin-top:15px;
	margin-bottom:10px;
	color: #333333;
}
.lis{
	background: radial-gradient(Aqua, white);
	border-radius: 45px;
	margin-left: 5%;
	width: 87%;
}
.menu{
	text-decoration: none;
	color: white;
}
.menu:hover{
	color: #3399ff;
	text-shadow: 0 0 10px white;
}
.interval{
	word-spacing: 1px;
}









img.drink{
	width: 200px;
	height: 200px;
	border-radius: 15px;
}
a.inv1{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('inv1.png');
	display: block;
}
a.inv2{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('inv2.png');
	display: block;
}
a.m1{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm1.jpg');
	display: block;
}
a.m1:hover{
	border-radius: 25px;
	background: url('m1.png');
	transition: 1s;
}
a.m2{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm2.jpg');
	display: block;
}
a.m2:hover{
	border-radius: 25px;
	background: url('m2.png');
	transition: 1s;
}
a.m3{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm3.jpg');
	display: block;
}
a.m3:hover{
	border-radius: 25px;
	background: url('m3.png');
	transition: 1s;
}
a.m4{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm4.jpg');
	display: block;
}
a.m4:hover{
	border-radius: 25px;
	background: url('m4.png');
	transition: 1s;
}
a.m5{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm5.jpg');
	display: block;
}
a.m5:hover{
	border-radius: 25px;
	background: url('m5.png');
	transition: 1s;
}
a.m6{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm6.jpg');
	display: block;
}
a.m6:hover{
	border-radius: 25px;
	background: url('m6.png');
	transition: 1s;
}
a.m7{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm7.jpg');
	display: block;
}
a.m7:hover{
	border-radius: 25px;
	background: url('m7.png');
	transition: 1s;
}
a.m8{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm8.jpg');
	display: block;
}
a.m8:hover{
	border-radius: 25px;
	background: url('m8.png');
	transition: 1s;
}
a.m9{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm9.jpg');
	display: block;
}
a.m9:hover{
	border-radius: 25px;
	background: url('m9.png');
	transition: 1s;
}
a.m10{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: url('mm10.jpg');
	display: block;
}
a.m10:hover{
	border-radius: 25px;
	background: url('m10.png');
	transition: 1s;
}